#time{
    font-size: 3rem;
}

#player-name{
    background-color: #fdfdf1;
    padding: 0 .5rem;
}

.time-area h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media(max-width: 700px){
    #time{
        font-size: 2rem;
    }

    .time-area h2{
        font-size: 1.4rem;
    }
}